body, html{
  height:100%;
}
body{
  /* margin: 0px;
  background-color:#444;
  font-size: 18px; */
  font-size: 18px;
  background-image: url(img/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineUpButton, .rotateButton{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  position:absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.dancer:hover{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.blinkyDancer{
  height: 100px;
  width: 100px;
}
.blinkyDancer:hover{
  border: 3px solid #ff0000;
}
#blinkyDancer{
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.horizontalDancer{
  height: 100px;
  width: 100px;
}
.horizontalDancer:hover{
  border: 3px solid #0000ff;
}
#horizontalDancer{
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.antManDancer:hover{
  border: 3px solid #00ff00;
}
#antManDancer{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

